.pageContainer {
    border: 3px solid #191919;
    border-radius: 2%;
    width: 630px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
}

.photo {
    width: 230px;
    border-radius: 50%;
    background-color: #2A2A2A;
    margin-top: 32px;
}

 .nickName {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 15px;
 }
.location,
.tag {
    color: #ABABAB;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center; 
    margin: 0;
    margin-bottom: 30px;
 }
 .tag {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
 }
 .atSymbol {
     display: inline-block;
     width: 25px;
     height: 25px;
     color: #ABABAB;
     font-size: 30px;
     font-weight: 400;
     margin-right: 10px;
     margin-bottom: 10px;
    font-style: normal;
 }
 .wrap {
    display: flex;
    background-color: #D3D3D3;
    color: #212121;
     }
.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 210px;
    height: 140px;
    border-top: 2px solid #898989;
    border-right: 2px solid #898989;
    padding: 20px;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 1px;
}
.stats {
    font-weight: 700;
}
